<footer>
  <div class="footer container flex ">
    <div class="footer-freshfood">
      <h3>FreshDrink</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
    </div>
    <div class="footer-us">
      <h3>About us</h3>
      <ul>
        <li>Bartender</li>
        <li>Menu</li>
        <li>Contact</li>
      </ul>
    </div>
    <div class="footer-sub">
      <h3>Subscribe & Media</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
</footer>

